.circle {
    position: absolute;
    width: 1000px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .cirItem {
        width: 200px;
        height: 200px;
        border: 1px solid;
        border-radius: 50%;
        margin: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px;

        a {
            text-decoration: none;
            font-size: 30px;
            color: #fff;
        }
    }

    .cirItem:nth-child(1) {
        background: #66a9c9;
    }

    .cirItem:nth-child(2) {
        background: #132c33;
    }

    .cirItem:nth-child(3) {
        background: #126e82;
    }

    .cirItem:nth-child(4) {
        background: #1f2623;
    }
}