.music-sing {
    // box-sizing: border-box;
    width: 250px;
    // height: 400px;
    border: 1px solid;
    border-radius: 12px;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 40px;
    // margin-left: 200px;
    // padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #144a74;

    .music-list {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 20px 0;
        height: 300px;
        box-sizing: border-box;
        overflow: hidden;

        .music-item {
            margin: 10px 0;
            width: 150px;
            // padding: 10px 0;
            height: 35px;
            line-height: 35px;
            padding: 0 20px;
            border-radius: 20px;
            background: #475164;
            text-align: center;
            cursor: pointer;
            color: #fff;

            &.active {
                color: #2f90b9;
                background: #fff;
            }

            &:hover {
                color: #2f90b9;
                background: #fff;
            }
        }
    }
}

// 音乐评论
.music-comment {
    .music-content {
        width: 300px;
        height: 100px;
        padding-top: 10px;
        text-indent: 10px;
        margin-left: 150px;
        resize: none;
        border-radius: 10px;
        border: 2px solid #475164;
        font-size: 16px;

        &:focus {
            outline: none;
        }
    }

    .music-msg {
        margin-left: 260px;

        .music-btn {
            display: inline-block;
            border: none;
            width: 70px;
            padding: 7px 0;
            border-radius: 10px;
            background: #144a74;
            color: #fff;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
    }
}